<html ng-app="techweek">
  <head>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/pouchdb/dist/pouchdb.js"></script>
    <script src="/controller.js"></script>

    <style>
      table {
        width: 50%
      }
      tr, td {
        width: 100%;
        border: 1px solid gray;
      }
    </style>
  </head>
  <body ng-controller="controller as vm">
    <h1>App 1</h1>

    <input type="text" ng-model="vm.msg">
    <button ng-enter="vm.push()" ng-click="vm.push()">Push</button>

    <table>
      <tr ng-repeat="obj in vm.list track by $index">
        <td ng-style="vm.style(obj.remote)">{{obj.remote ? 'App 2 diz:' : 'Voce:'}} {{obj.msg}}</td>
      </tr>
    </table>
  </body>
</html>
